@media (prefers-color-scheme: light) {
  .sidebar {
    border-color: var(--color-neutral-200);
  }
}

@media (prefers-color-scheme: dark) {
  .sidebar {
    border-color: var(--color-neutral-600);
  }
}

.sidebarSettings > div {
  padding: 10px 0px 10px 0px;
}
